<h1><%= @school_class.name %></h1>

<%= link_to 'Edit', edit_school_school_class_path %>
<%= link_to 'Delete', school_school_class_path, method: :delete, data: { confirm: 'Are you sure?' }  %>

<%= search_form_for @q do |f| %>
  <%= f.label :adress_cont %>
  <%= f.search_field :adress_cont %>

  <%= f.submit %>
<% end %>




<h2>Students</h2>

<table class = "table">
  <tr>
    <th>First name</th>
    <th>Last name</th> 
    <th>Status</th> 
  </tr>
  <% @students.each do |student| %>
      <tr>
        <td><%= student.first_name %></td>
        <td><%= student.last_name %></td>
        <td>
          <% if student.has_role?(:student, @school_class) %>
            <%= 'Accepted' %>
          <% else %>
            <%= 'Pending' %>
            <td> <%= link_to 'Confirm', school_school_class_school_application_path(@school, @school_class, @school_application), method: :put %> </td>
        <% end %>
        </td>
      </tr>
    <% end %>
</table>