<h1>Invite user</h1>

<%= simple_form_for @form, url: school_teachers_path do |f| %>
    <%= f.input :email, autofocus: true, autocomplete: 'email' %>

    <%= f.input :first_name, class: 'form-control' %>

    <%= f.input :last_name, autocomplete: 'current-password' %>

    <%= f.button :submit, 'Invite user', class: 'btn btn-primary' %>
<% end %>


